body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
/* reset */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
margin: 0;
padding: 0;
}
img {
    display: block;
    max-width: 100%;
} 
    a {
        text-decoration: none;
        
    }
    /* common */
        .container {
            max-width: 1158px;
            padding: 0 15px;
            margin: 0 auto;
        }
        /* header */
        .page-header {
            border-bottom: 1px solid #e7e9fc;
            box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        }
        .header-container{
            display: flex;
            align-items: center;
        }
        .header-nav {
            display: flex;
            align-items: center;
        }
        .nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .contacts-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        .header-logo {
            padding: 24px 0;
            margin-right: 76px;
        }
    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
    }
    .header-logo .logo-part {
        color: #2e2f42;
    }
        .footer-logo .logo-part {
            color: #f4f4fd;}
    .nav-link {
        padding: 24px 0;
        display: block;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }
                   .contacts {
                    font-style: normal;
                    margin-left: auto;
                   }
        .nav-link.current {
        position: relative;
        color: #404bbf;
        }
                .nav-link.current::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    background-color: #404bbf;
                    border-radius: 2px;
                    width: 100%;
                    height: 4px;
                }
    .contacts-link {
        display: block;
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }
         .nav-link:hover,
         .nav-link:focus,
         .contacts-link:hover,
         .contacts-link:focus {
    color: #404bbf;
}


/* Banner */
.banner { 
    display: block;
background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 1440px;
margin: 0 auto;
}
.banner-titel {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        margin: 0 auto;
        max-width: 496px;
        margin-bottom: 48px;
}
.banner-button {
        display: block; 
        min-width: 169px;
        height: 56px;
        border: none;
        margin: 0 auto ;
        background-color: #4d5ae5;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
        padding: 16px 32px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
                 
}
.banner-button:hover,
.banner-button:focus {
        background-color: #404bbf;
}
/* Strengths */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {
   width: 100%;
    padding: 120px 0;
}
.strengths-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 24px 100px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
border-radius: 4px;
margin-bottom: 8px;
}
.strengths-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
margin-bottom: 8px;
}
    .strengths-list {
        display: flex;
        align-items: center;
        gap: 24px;
    }
.strengths-item {
    width: calc( (100% - 3 * 24px)/ 4);
}
.strengths-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
      }
/* Team */
.team-section {
    background-color: #f4f4fd;
}
.section-list {
    display: flex;
        align-items: center;
        gap: 24px;
}
.section-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}
.team-item {
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        width: calc((100% - 3 * 24px)/ 4);
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-foto {
    display: block;
    max-width: 100%;
    height: auto;
}
.section-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0;
    gap: 8px;
}
.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
.soc-list {
    display: flex;
    align-items: center;
    
justify-content: center;
flex-direction: row;
gap: 24px;
}
.soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    }
.soc-item {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-item:hover,
.soc-item:focus {
    background-color: #404bbf; 
} 
.soc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #f4f4fd;
}
/* Portfolio */
.portfolio-list {
    flex-wrap: wrap;
    row-gap: 48px;

}
.portfolio-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-item {
    width: calc((100% - 2 * 24px)/ 3);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: box-shadow;
    
}
.portfolio-item:nth-child(1n + 4)
 {
    margin-bottom: 0;
}
.portfolio-item:hover .overlay {
    transform: translateY(0);
    
}
.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-image { 
    display: block;
max-width: 100%;
height: 100%;
}
.portfolio-wrapper {
    position: relative;
    padding: 0;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    color: #f4f4fd;
    background-color: #4d5ae5;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
}
.portfolio-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* Footer */
.page-footer {
    background-color: #2e2f42;
        padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
    
}

.footer-logo-container {
    margin-right: 120px;

}
.footer-logo {
    display: inline-block;
    width: 115px;
    margin-bottom: 16px;

}
.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}
.footer-links {
   display: block;
}
.soc-wrapper {
    display: flex;
            align-items: center;
gap: 16px;
}
.footer-soc-item {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
    display: flex;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}
.footer-links-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    padding: 0;
}
.soc-link.footer-link {
    background-color: #4d5ae5;
   
}
   .footer-soc-item:hover,
   .footer-soc-item:focus
   {
background-color: #31D0AA;
   }



